@import 'helpers';

*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
    font-family: Roboto;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}
ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
